
/*           Labels & Progress-bar              */
.label{
    padding: 3px 8px;
    border-radius: 12px;
    color: $white-color;
    font-weight: 500;
    font-size: 0.75em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.5em;

    &.label-fill{
        color: #FFFFFF;
    }
}
.label-default{
    background-color: $font-color;
}
.label-primary{
    background-color: $primary-color;
}
.label-info{
    background-color: $info-color;
}
.label-success{
    background-color: $success-color;
}
.label-warning{
    background-color: $warning-color;
}
.label-danger{
    background-color: $danger-color;
}


label small{
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    color: $dark-gray;
}

label.error:not(.form-control) {
    color: $danger-color;
    font-weight: 300;
    font-size: 0.8em;
}
